<div class="addCard">
  <h1 class="header">add new todo</h1>
  <input type="text" placeholder="enter your task here" #newTodo />
  <button (click)="addTodo(newTodo)">add</button>
</div>

<div class="todos" *ngFor="let todo of todos">
  <!-- <p>id : {{ todo._id }}</p> -->
  <h1>Task : {{ todo.desc }}</h1>
  <div class="options">
    <button>details</button>
    <input type="text" placeholder="update todo here" #newText />
    <button (click)="updateTodo(todo._id, newText)">update</button>
    <button (click)="deleteTodo(todo._id)">X</button>
  </div>
</div>
